<div class="table-container">
  <div>
    <mat-input-container floatPlaceholder="never">
      <input matInput #filter type="text" placeholder="filter">
    </mat-input-container>
  </div>
  <mat-table [dataSource]="dataSource">
    <!-- Name column -->
    <ng-container cdkColumnDef="name">
      <mat-header-cell *cdkHeaderCellDef>Name</mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        {{row.name}}
      </mat-cell>
    </ng-container>

    <!-- Designed by column -->
    <ng-container cdkColumnDef="designedBy">
      <mat-header-cell *cdkHeaderCellDef>Designed by</mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        {{row.designedBy}}
      </mat-cell>
    </ng-container>


    <!-- Designed by column -->
    <ng-container cdkColumnDef="firstAppeared">
      <mat-header-cell *cdkHeaderCellDef>First appeared</mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        {{row.firstAppeared}}
      </mat-cell>
    </ng-container>


    <!-- Goto column -->
    <ng-container cdkColumnDef="goto">
      <mat-header-cell *cdkHeaderCellDef>Learn</mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <mat-icon>forward</mat-icon>
      </mat-cell>
    </ng-container>


    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>
