<mat-nav-list>
  <mat-list-item>
    <mat-icon>home</mat-icon>
    <a mat-line routerLink="home">Home</a>
  </mat-list-item>

  <mat-list-item>
    <a mat-line routerLink="works">My work</a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="works/learn">Learn</a>
      <a mat-menu-item routerLink="works/create">Create</a>
      <a mat-menu-item routerLink="works/last-session">Last session</a>
    </mat-menu>
  </mat-list-item>



  <mat-list-item>
    <mat-icon>contacts</mat-icon>
    <a mat-line routerLink="about">Contact</a>
  </mat-list-item>
</mat-nav-list>
