<button mat-raised-button color="primary" [matMenuTriggerFor]="editorMenu">Change theme</button>
<mat-menu #editorMenu="matMenu">
  <button mat-menu-item class="active" (click)="onChangeTheme('monokai')">Monokai</button>
  <button mat-menu-item (click)="onChangeTheme('eclipse')">Eclipse</button>
  <button mat-menu-item (click)="onChangeTheme('github')">Github</button>
  <button mat-menu-item (click)="onChangeTheme('solarized_dark')">Solarized Dark</button>
  <button mat-menu-item (click)="onChangeTheme('tomorrow')">Tomorrow</button>
  <button mat-menu-item (click)="onChangeTheme('sqlserver')">SqlServer</button>
  <button mat-menu-item (click)="onChangeTheme('textmate')">Textmate</button>
</mat-menu>

<button mat-raised-button color="primary" [matMenuTriggerFor]="languageMenu">Change language</button>
<mat-menu #languageMenu="matMenu">
  <button mat-menu-item class="active" (click)="onChangeLanguage(0)">Html Css Js</button>
  <button mat-menu-item class="active" (click)="onChangeLanguage(1)">Python</button>
  <button mat-menu-item class="active" (click)="onChangeLanguage(2)">C++</button>
</mat-menu>


<section class="row work-overview">
  <mat-tab-group *ngIf="language == 0" class="full-width" dynamicHeight="true">

    <mat-tab>
      <ng-template mat-tab-label>
        Html
      </ng-template>
      <div class="current-work">
        <ace-editor
          [(text)]="htmlCode"
          [theme]="theme"
          [mode]="'html'"
          [options]="options"
          [readOnly]="false">
        </ace-editor>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Css
      </ng-template>
      <div class="current-work">
        <ace-editor
          [(text)]="cssCode"
          [theme]="theme"
          [mode]="'css'"
          [options]="options"
          [readOnly]="false">
        </ace-editor>
      </div>
    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        Javascript
      </ng-template>
      <div class="current-work">
        <ace-editor
          [(text)]="jsCode"
          [theme]="theme"
          [mode]="'javascript'"
          [options]="options"
          [readOnly]="false">
        </ace-editor>
      </div>
    </mat-tab>
  </mat-tab-group>

  <mat-tab-group *ngIf="language == 1" class="full-width" dynamicHeight="true">

    <mat-tab>
      <ng-template mat-tab-label>
        Python
      </ng-template>
      <div class="current-work">
        <ace-editor
          [(text)]="pythonCode"
          [theme]="theme"
          [mode]="'python'"
          [options]="options"
          [readOnly]="false">
        </ace-editor>
      </div>
    </mat-tab>
  </mat-tab-group>

  <mat-tab-group *ngIf="language == 2" class="full-width" dynamicHeight="true">
    <mat-tab>
      <ng-template mat-tab-label>
        C/C++
      </ng-template>
      <div class="current-work">
        <ace-editor
          [(text)]="cppCode"
          [theme]="theme"
          [mode]="'c_cpp'"
          [options]="options"
          [readOnly]="false">
        </ace-editor>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
