<mat-toolbar>
  <button class="full-height" mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="fill-remaining-space"></span>
  <form class="search-toolbar-form" #searchForm="ngForm">
    <mat-input-container *ngIf="showSearchBar" class="input-container" floatPlaceholder="never">
      <input matInput placeholder="search" type="search" name="searchInput" ngModel autofocus>
    </mat-input-container>
    <button mat-icon-button type="submit" color="primary" (click)="showSearchBar = !showSearchBar">
      <mat-icon>search</mat-icon>
    </button>
  </form>

</mat-toolbar>
<mat-progress-bar color="primary" mode="determinate" value="50"></mat-progress-bar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav class="sidenav" [opened]="sidenavOpened" align="start" [mode]="dynamicMode">
    <app-aside></app-aside>
  </mat-sidenav>

  <div class="content">
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>


</mat-sidenav-container>
